

#header {
    width: 980px;
    padding: 12px 80px;
}



#first {
    color: #323232;
    font-size: 18px;
}



#pro{
    margin-left: 179px;
    font-size: 18px;
    color: #323232;
    list-style-type: none;
    text-decoration: none;
}
#model {
    font-size: 18px;
    color: #323232;
    list-style-type: none;
    text-decoration: none;
}

#box-model {
    font-size: 18px;
    color: #323232;
    list-style-type: none;
    text-decoration: none;
}

#box {
    font-size: 18px;
    color: #323232;
    list-style-type: none;
    text-decoration: none;
}

#bubel {
    list-style-type: none;
    text-decoration: none;
}

#model {
    color: #323232;
    margin-left: 20px;
    font-size: 18px;
}

#box-model {
    color: #323232;
    margin-left: 20px;
    font-size: 18px;

}

#box {
    color: #323232;
    margin-left: 20px;
    font-size: 18px;
}

#bubel {
    margin-left: 195px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #AC00FF;
    background: #E9D7FE;
    color: #AC00FF;
    font-size: 14px;
   
}

#second {
    width: 841px;
    margin-left: 214px;
    margin-top: 136px;
}

h1 {
    color: #323232;
    width: 720px;
    font-size: 64px;
}

#first {
    color: #323232;
    font-size: 24px;
    margin-top: 24px;
}


#jo {
    display: inline-block;
    width: 156px;
    padding: 16px 24px;
    background: #5C3BAE;
    border-radius: 8px;
    text-align: center;
}

#gu {
    color: #FFFFFF;
    font-size: 18px;
}

#jor {
    width: 422px;
}

#dr {
    vertical-align: middle;
    margin-left: 24px;
}

#rs {
    vertical-align: middle;
}

#dir {

    margin-left: 628px;
    margin-top: -215px;
}

#er {
    width: 1048px;
    margin-left: 236px;
}

